[Unit]
Description=monitors interfaces on a mikrotik router over rest

[Service]
Type=notify
WorkingDirectory=/opt/wgwatch
ExecStart=/opt/wgwatch/WgWatch

[Install]
WantedBy=multi-user.target