[Unit]
Description=monitors interfaces on a mikrotik router over rest

[Service]
Type=notify
ExecStart=/home/mon/wgwatch/publish/WgWatch

[Install]
WantedBy=multi-user.target